In [ ]:
#1. Lists
#A list is a data structure that holds an ordered collection of items i.e you can store a sequence of items in a list.

#The list of items should be enclosed in square brackets so that python undersstands that u are specifying a list. once you
#have created a list,you can add , remove or search for items in the list. since we can add and remove items, we say that a list 
#is a mutable data type.i.e this type can be altered

In [ ]:
len([1,2,3,4])

In [ ]:
"jatin" +"kayal"

In [ ]:
[1,2,3]+[4,5,6]

In [ ]:
[1]*4

In [ ]:
a=[1,2,3,4,5]
for x in a:
  print(x)

In [ ]:
"a" in "jatin"

In [ ]:
1 in[1,2,3,4]

In [ ]:
#Indexing and slicing

In [ ]:

a = [1,2,3,4,5]

In [ ]:
a[-1]

In [ ]:
#updating the list
#.insert
#.append

In [ ]:
a=[1,2,3]

In [ ]:

a.insert(0,100)

In [ ]:
a=[1,2,3,4]

In [ ]:
a.append(5)

In [ ]:
a

In [ ]:
#Deleting list elements
#del
#pop
#remove

In [ ]:
a=[1,2,3,4]

In [ ]:
a.pop()

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
a.pop(2)

In [ ]:
a

In [ ]:
a=[1,2,3,4]

In [ ]:
a=["jatin","samarth","jatin","shubham"]

In [ ]:
a.remove("jatin")

In [ ]:
a

In [ ]:
a.remove("jatin")

In [ ]:
a

In [ ]:
#sorting and reversing
#sort and sorted
#reverse and reversed

In [ ]:
a=[4,1,3,2,6,4]

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
b=[4,1,3,2,6,4]

In [ ]:
sorted(b)

In [ ]:
b

In [ ]:
a=[1,2,3,4,5]

In [ ]:
a.reverse()

In [ ]:
a

In [ ]:
b=[1,2,3,4,5]

In [ ]:
for x in reversed(b):
  print(x)

In [ ]:
b

In [ ]:
#map,strip and aplit function

In [ ]:
a=[1,2,3,4]

In [ ]:
[1,4,9,16]

In [ ]:
for i ,x in enumerate(a):
  pass

In [ ]:
def sqr(x):
  return x**2

In [ ]:
for x in map(lambda x: x**2,a):
  print(x)

In [ ]:
int("1")

In [ ]:
a=list(map(int,input().split()))

In [ ]:
a

In [ ]:
a[0]

In [ ]:
#printing a list using join

In [ ]:
",".join(["jatin","samarth","molly"])